@model IdentityServer.ViewModels.ErrorViewModel

@{ 
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
}

@if (error != null)
{
    <h1>@error</h1>
    if (errorDescription != null)
    {
        <p>@errorDescription</p>
    }
}